/* Background colors for the card */
.color1 {
  background-color: aqua;
}

.color2 {
  background-color: pink;
}

.color3 {
  background-color: rgb(124, 232, 173);
}

.color4 {
  background-color: rgb(229, 229, 155);
}

.card {
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  text-align: left;
  min-height: 150px; /* Minimum height for each card */
  max-width: 32%; /* Maximum width for each card */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
  padding: 10px; /* Inside space */
  overflow: hidden; /* Prevent text overflow */
  text-overflow: ellipsis; /* Adds "..." for overflowed text */
  white-space: nowrap; /* Prevent text wrapping (if desired) */
}

.cardContent {
  min-height: 150px; /* Minimum height for each card */
  max-width: 30%; /* Maximum width for each card */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
  padding: 10px; /* Inside space */
  margin: 0; /* Ensure no margin is added */
  overflow: hidden; /* Prevent text overflow */
  text-overflow: ellipsis; /* Adds "..." for overflowed text */
  white-space: nowrap; /* Prevent text wrapping (if desired) */
}

/* Button Style */
.toggleButton {
  margin-top: 15px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  transition: background-color 0.3s;
}

.colorOptions {
  display: flex;
  justify-content: center;
}

.toggleButton:hover {
  background-color: #f0f0f0;
}

/* Color Picker Styles */
.colorPicker {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.colorCircle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
}

.colorCircle:hover {
  transform: scale(1.2);
}
.editableText {
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  width: calc(100% - 20px);
  padding: 0;
  outline: none;
  cursor: text;
}

.delete {
  position: relative;
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
