.card {
  padding: 20px;
  border-radius: 10px;
  height: 250px;
  width: 250px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 2px 10px rgba(248, 245, 245, 0.1);
  cursor: pointer;
  text-align: center;
  word-break: break-word;
  background-color: grey;
  color: #fff;
  position: relative;
}

.color1 {
  background-color: aqua;
}

.color2 {
  background-color: pink;
}

.color3 {
  background-color: rgb(124, 232, 173);
}

.color4 {
  background-color: rgb(229, 229, 155);
}

.color5 {
  background-color: rgb(124, 173, 232);
}

.color6 {
  background-color: rgb(232, 124, 173);
}

.color7 {
  background-color: rgb(173, 124, 232);
}

.color8 {
  background-color: rgb(232, 173, 124);
}

.color9 {
  background-color: rgb(173, 232, 124);
}

.card:hover {
  transform: scale(1.02);
}

.text {
  text-align: center;
  word-break: break-word;
}

.toggleButton {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
}

.colorOptions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  padding: 10px 0;
  position: absolute;
  bottom: 10px;
  width: 100%;
  background-color: white;
  justify-content: center; /* Centers the circles horizontally */
}

.colorCircle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
  border: none;
}

.colorCircle:hover {
  transform: scale(1.2);
}

.editableText {
  border: none;
  background: none;
  color: inherit;
  text-align: center;
  outline: none;
  font: inherit;
  width: 100%;
}

.delete {
  border: none;
  background: none;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: #fff;
}

.textContainer {
  max-height: 200px; /* Set a height limit */
  overflow-y: hidden; /* Enable vertical scroll */
  padding: 5px;
  text-align: center;
  width: 100%;
}

.textContainer:hover {
  overflow-y: auto; /* Show scrollbar when hovering */
}
